{% extends 'base.html' %}

{% block title %}
  Авторизация
{% endblock %}

{% block content %}
<div class="registration-cssave">
    <form method='GET' >
        {% csrf_token %}
        <h3 class="text-center">Авторизация</h3>

        <div class="form-group">
            <input class="form-control item" type="tel" name="phone" id="phone" placeholder="7-XXX-XXX-XXXX" pattern="7-[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button>
        </div>
    </form>
</div>
{% endblock %} 