.bg {
    background-color: #214c84;
    background-blend-mode: overlay;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
}

body {
    background-color: transparent;
    width: 100%;
}

.registration-cssave {
    padding: 50px 0;
    width: 100%;
}

.registration-cssave form {
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}



.registration-cssave form h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.registration-cssave .item {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-cssave .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.bg_white {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.text-smoll {
    font-size: 14px;
}

@media (max-width: 576px) {
    .registration-cssave form {
        padding: 50px 20px;
    }
}